<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="" method="POST">
        <label>Model</label>
        <input type="text" name="model">
        <br>
        <label>Daily fee (VND)</label>
        <input type="text" name="fee">
        <br>
        <label for="">Image</label>
        <input type="text" name="image">
        <br>
        <label>Year</label>
        <input type="text" name="year">
        <br>
        <button>Submit</button>
    </form>
    

</body>
</html>